input {
   jdbc {
           jdbc_driver_library => "/usr/share/logstash/pipeline/javalib/mssql-jdbc-9.2.1.jre8.jar"
           jdbc_driver_class => "com.microsoft.sqlserver.jdbc.SQLServerDriver"
           jdbc_connection_string => "jdbc:sqlserver://10.230.60.11:1433;databaseName=DGCOctopus"
           jdbc_user => "logstash"
           jdbc_password => "123"
           schedule => "* * * * *"
           statement => "select DeploymentID, environmentName, ProjectName, ProjectSlug, ReleaseVersion, TaskState, StartTime, CompletedTime, DurationSeconds,  DeployedBy FROM [DGCOctopus].[dbo].[DeploymentHistory] WHERE DeploymentId > :sql_last_value"
           use_column_value => true
           tracking_column => "DeploymentID"
        }
}

filter {
}

## Add your filters / logstash plugins configuration here

output {
	elasticsearch {
		hosts => "elasticsearch:9200"
		user => "elastic"
		password => "changeme"
    index => "logstashmysql"

	}
}
