input {
   jdbc {
           jdbc_driver_library => "/usr/share/logstash/pipeline/javalib/mssql-jdbc-9.2.1.jre8.jar"
           jdbc_driver_class => "com.microsoft.sqlserver.jdbc.SQLServerDriver"
           jdbc_connection_string => "jdbc:sqlserver://10.230.60.11,1433/DGCOctopus"
           jdbc_user => "logstash"
           jdbc_password => "123"
           statement => "select * from ApiKey"
        }
}

filter {
  mutate { add_field => { "show" => "This data will be in the output" } }
  mutate { add_field => { "[@metadata][test]" => "Hello" } }
   mutate { add_field => { "target_index" => "Hello" } }
  mutate { add_field => { "[@metadata][no_show]" => "This data will not be in the output" } }
}

## Add your filters / logstash plugins configuration here

output {
	elasticsearch {
		hosts => "elasticsearch:9200"
		user => "elastic"
		password => "changeme"
        index => "%{[@metadata][target_index]}"
		ecs_compatibility => disabled
	}
}
